body{
    background-image: url(./background.jpg);
    background-size:cover;
    background-repeat:  no-repeat;
    margin:0;
    padding:0;
   

}

#nav_aside h1{
    margin:0px;
    color:white;
    text-shadow:1px 1px 1px black;
    border-radius:10px 10px 10px;
    border-bottom:3px solid rgb(59, 0, 11) ;
    text-align:center;
}
#nav_aside{
    
    position:fixed;
    width:120px;
    height:43px;
    border:1px solid black;
    background-color:rgba(110, 0, 21,0.9);
    box-shadow:2px 2px 5px black;
    top:0;
    left:0;
    border-radius:5px;
    font-size:20px;
    font-family: "Helvetica",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    flex-flow: column nowrap;
    padding:5px;
    overflow:scroll;
    transition: height 2s;
    -webkit-transition: height 2s;
    transition: width 2s;
    -webkit-transition: width 2s;
    z-index: 3;
    
    
}
#nav_aside:hover{
    height:25%;
    width:10%;
    
}
#nav_aside p{
    display:inline-flex;
    margin:5px;
    justify-content:center;
    
}
#nav_aside a{
    font-size:20px;
    text-decoration: none;
    color:rgb(255, 234, 185);
}
#nav_aside a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}
h1{
    font-size:24px;
    font-family:"Helvetica", serif;
    font-weight:bold;
    
    border:1px solid black;
    width:100%;
    background-color:rgba(255, 255, 255, 0.2)
    
}
h2{
    font-weight:normal;
    font-size:20px;
    font-family:"Helvetica", serif;
    color:white;
    text-shadow:1px 1px 1px black;
    display:flex;
    justify-content:center;
}
.body_avengers_text{
    font-family: "Helvetica", sans-serif;
}

.accueil_nav{
    text-decoration:underline black;
}
#logo{
    background-image: url(./Avengers-Transparent.png);
    background-size:contain;
    background-repeat:no-repeat;
    width: 30vw;
    height: 30vh;
    position:relative;
    left:40%;
}

#body_cadre{
    display:flex;
    flex-direction:column;
    width:80%;
    float:right;
    height:auto;
    background-color:rgba(255, 255, 255, 0.6);
    padding:5px;
    margin:5px 70px;
    text-align:center;
    border: 1px solid black;
    box-shadow:1px 1px 2px black;
    border-radius:10px;

}
#body_cadre img{
    width:20vw;
    height:auto;
    margin:10px;
    position:relative;
    left: 38%;
    

}
#footer_nav{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    width:100%;
    align-items:center;
    height:25px;
    bottom:0px;
    left:0px;
    border:1px solid white;
    margin-top:100px;
    margin-bottom:0px;
    position:fixed;
    background-color:#3a4242;
}
#footer_nav a {
    color:gray;
}
#footer_nav .accueil :hover{
    font-weight:bold;
    
}
#footer_nav .about :hover{
    font-weight:bold;
}
#footer_nav .conditions :hover{
    font-weight:bold;
}
#footer_nav .copyright {
    color:white;
    text-decoration: underline;
}